// Color Pallete

$sand: #BDEBCA;        // warm color #1
$simba: #DFD487;       // warm color #2
$light-gray: #F2F2F2;
$red: #EC7963;         // accent #1
$light-blue: #2DDCFF;  // accent #2

// Font stack
$sans-serif: 'Helvetica Neue', helvetica, sans-serif;
$titles: 'Bree Serif', 'Helvetica Neue', helvetica, sans-serif;

// Values
$inside-width: 70em;
$two-block: 36em; // For two centered footer blocks

// Responsive
$phone-1: 460px;
$tablet-1: 600px;
$tablet-mid: 900px;
$tablet-2: 1030px;
$desktop-1: 1200px;
